spring:
  application:
    name: review
  data:
    redis:
      cluster:
        nodes: redis-cluster.redis:6379
        max-redirects: 10
      repositories:
        enabled: false
  cache:
    type: redis
  datasource:
    url: jdbc:postgresql://localhost/${spring.application.name}-db
    # driver-class-name: com.mysql.cj.jdbc.Driver
    # driver-class-name: com.postgresql.Driver
    hikari.initializationFailTimeout: 60000
  jpa:
    hibernate:
      ddl-auto: update
    # database-platform: org.hibernate.dialect.MySQLDialect # TODO: remove this
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  cloud:
    function:
      definition: messageProcessor
    stream:
      default.contentType: application/json
      bindings:
        messageProcessor-in-0:
          destination: ${spring.application.name}s
          group: ${spring.application.name}sGroup
          consumer:
            maxAttempts: 3
            backOffInitialInterval: 500
            backOffMaxInterval: 1000
            backOffMultiplier: 2.0
      rabbit:
        bindings.messageProcessor-in-0:
          consumer:
            autoBindDlq: true
            republishToDlq: true
      kafka:
        bindings.messageProcessor-in-0:
          consumer:
            enableDlq: true

server:
  port: 7003
  error:
    include-message: always

logging:
  level:
    root: INFO
    hy: INFO
    org.hibernate:
      SQL: INFO
      type.descriptor.sql.BasicBinder: INFO

---

spring:
  config:
    activate.on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres.persistence/${spring.application.name}-db
  jpa:
    show-sql: false

server:
  port: 80

---

spring:
  config:
    activate.on-profile: streaming_partitioned
  cloud:
    stream.bindings.messageProcessor-in-0.consumer:
      partitioned: true
      instanceCount: 2

---

spring:
  config:
    activate.on-profile: streaming_instance_0
  cloud:
    stream.bindings.messageProcessor-in-0.consumer.instanceIndex: 0

---

spring:
  config:
    activate.on-profile: streaming_instance_1
  cloud:
    stream.bindings.messageProcessor-in-0.consumer.instanceIndex: 1

---

spring:
  config:
    activate:
      on-profile:
      - prod
  datasource:
    url: jdbc:postgresql://postgres.persistence/${spring.application.name}-db

logging:
  level:
    root: WARN
    hy: WARN
    '[org.hibernate.SQL]': WARN
    '[org.hibernate.type.descriptor.sql.BasicBinder]': WARN